body {
    font-family: sans-serif;
}

h1 {
    font-size: 1.2em;
    text-align: center;
}

.panel {
    padding: 1em;
    width: 92.5%;
    margin: auto;
    max-width: 30em;
}

input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    margin-top: 0, 9em;
    padding: 1em;
}

.nav-list {
    width: 90%;
    max-width: 50%;
    text-align: center;
    margin: auto;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0.7em;
    margin: 0 0.1em;
}